# 가상환경
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.so
.env
.venv
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
